header {
    color: white;
    background-color: #003594;
    font-size: x-large;
}

.float-right {
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    align-content: right;
    margin-right: 20px;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.navbar a {
    text-decoration: none;
    color: white;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #f7f7f7;
    border: #e0e0e0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidebar a:hover {
    color: black;
}

.sidebar h2 {
    padding-left: 15px;
    padding-right: 15px;
    font-size: x-large;
    color: black;
}

.sidebar p {
    padding-left: 15px;
    padding-right: 15px;
    font-size: large;
    color: #818181;
}
  
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
.openbtn {
    font-size: 20px;
    cursor: pointer;
    color: white;
    padding: 10px 15px;
    border: none;
}

.pitt-website {
    font-size: medium;
    margin-bottom: 0;
    padding-top: 7px;
    background-color: #ffb81c;
    text-align: center;
    border: none;
    border-radius: 0%;
    z-index: auto;
}

.faq-alert {
    padding: 4px;
    margin-top: -4px;
    background-color: #3366ff;
    color: white;
    text-align: center;
    border: none;
    border-radius: 0%;
}

.faq-alert button {
    line-height: 0;
}

body {
    background-color: #f2f2f2;
}

.title {
    color: #ffb81c;
    font-weight: bolder;
}

h1 {
    padding-left: 70px;
}

.faqTitle {
    padding-left: 65px;
    padding-top: 30px;
}

footer {
    background-color: #f2f2f2;
    text-align: center;
    font-size: x-small;
    padding-top: 20px;
}

.accordion {
    padding: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    max-width: 90%;
    align-items: center;
}

.accordion button {
    color: black;
}

.widget {
    margin-top: 15px;
}

.card-header {
    text-align: center;
    font-size: 16px;
}

.card-text {
    font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.scroll {
    overflow-y: scroll;
    max-height: 530px;
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.states {
    padding-top: 0;
    padding-right: 23px;
    max-height: 530px;
    overflow: hidden;
}

.posture {
    padding-top: 10px;
    letter-spacing: 1px;
}

strong {
    font-size: 18px;
    letter-spacing: 1.7px;
}

.study {
    padding-top: 5px;
    overflow-y: scroll;
    max-height: 254px;
}

